.detailProduts {
  width: 75%;
  border: 1px solid rgb(255, 255, 255, 0.87);
  text-align: center;
}

.detailProduts h2 {
  font-size: 3.2vh;
  font-weight: 1000;
  margin: 1vh;
}

.detailProduts h4 {
  font-size: 3.2vh;
  font-weight: 1000;
  margin: 1vh;
}

.detailProduts p {
  font-size: 3vw;
}

.detailProduts h5 {
  font-size: 1.6vw;
  margin: 3vh;
}

.detailProduts h6 {
  font-size: 1.6vw;
  margin: 3vh;
}

.detailProduts li {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 56% 22% 22%;
  align-items: center;
  border: 1px solid rgb(255, 255, 255, 0.87);
  padding-left: 4%;
  padding-right: 4%;
  font-weight: 500;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product img {
  max-width: 6vw;
  max-height: 6vw;
  padding: 2%;
  margin-top: 4%;
  background-color: white;
  border-radius: 20px;
}

.priceDetail {
  grid-row: 1;
  grid-column: span 2 / 3;
  text-align: right;
}

.prices {
  grid-row: 1;
  grid-column: 3;
  text-align: left;
}
