.headerDiv {
  width: 98vw;
  height: 12vh;
  padding-right: 2vw;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  grid-template-columns: 10% 56% 34%;
  grid-template-rows: 100%;
  gap: 0px;
  align-items: center;
  font-weight: bolder;
}

.logoRD {
  line-height: 1;
  width: fit-content;
  justify-self: center;
  font-size: 8.5vh;
  grid-column: 1;
  grid-row: 1;
  color: white;
}

span {
  color: rgb(204, 2, 2);
}

.keywordsReference {
  color: rgba(255, 255, 255, 0.87);
  grid-row: 1;
  grid-column: 3;
  display: grid;
  grid-template-columns: 24% 28% 34% 14%;
  grid-template-rows: 100%;
  gap: 0px;
  padding: 0vw;
  justify-items: center;
  align-items: center;
}
