.shoppingCart {
  width: 100%;
  min-height: 62vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4vh;
  margin-top: 18vh;
}

.shoppingCart ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.priceContainer {
  font-size: 4vh;
  margin: 2%;
  padding: 2%;
  color: black;
  background-color: rgb(255, 255, 255, 0.87);
}
